.container{
   margin: auto;
}

h1{
   font-size: 50px;
   font-family: Sans-serif;
}

body{
   background: url(yoyo.jpg) no repeat;
   background-size: cover;
}
.calc{
   height: 370px;
   background: #3d4543;
   padding: 10px;
   border-radius: 20px;
   display: inline-block;
}

#answer{
   background: #bccd95;
   width: 370px;
   height: 80px;
   color: black;
   border-radius: 10px;
   padding right: 10px;
   margin-bottom: 18px;
   text align: right;
   letter-spacing: 1px;
}

input{
   font-size: 30px;
   width: 60px;
   height: 55px;
   color: #fff;
   background: #6f6f6f;
   border-radius: 10px;
   margin: 5px;
   outline: none;
   border: 0px solid;
}

.btn-red{
background-color: red;
}
.btn-blue{
background-color: blue;
}
