.container{
   margin: auto;
}

h1{
   font-size: 40px;
   font-family: Sans-serif;
}

body{
   background: url("SAVE_20210922_195645.jpg") no-repeat;
   background-size: cover;
}
.calc{
   height: 300px;
   background: #00f;
   padding: 10px;
   border-radius: 20px;
   display: inline-block;
   border: 1px solid;
   box-shadow:5px 10px #888888
}

#answer{
   background: #bccd95;
   width: 300px;
   height: 50px;
   color: black;
   border-radius: 8px;
   padding right: 8px;
   margin-bottom: 14px;
   text align: right;
   letter-spacing: 1px;
}

input{
   font-size: 25px;
   width: 50px;
   height: 45px;
   color: #fff;
   background: #ff6048;
   border-radius: 10px;
   margin: 5px;
   outline: none;
   border: 0px solid;
}

.btn-red{
background-color: red;
}
.btn-blue{
background-color: blue;
}
